*.o
*.bin
*.elf
*.lst
firmware/image.mem
combined.mem
fpga/progmem_bd.bmm
tools/makemem

*.projectmgr
*.xbcd
*.log
*.ref
*.xreport
*.ncf
*.vho
_xmsgs
_ngo
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.html
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xrpt
*.xml
*.gise
*.exe
*.wdb
*.xmsgs
*.cmd
*.ini
*.vdbl
*.vdbx
fpga/isim/*
