##################################################################################
## BPC3003_2.03+.ucf
##
## Author: Jack Gassett
##
## Details: http://gadgetforge.gadgetfactory.net/gf/project/butterfly_one/
##
## Contains assignment and iostandard information for
## all used pins as well as timing and area constraints for Papilio One 2.03 and higher boards. Papilio One boards started using 32Mhz oscillators at version 2.02 and above.
##
##################################################################################

## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P144;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

# Crystal Clock - use 32MHz onboard oscillator
NET "clk" LOC = "P94" | IOSTANDARD = LVTTL | PERIOD = 31.25ns ;

NET "ADV_AP" LOC = "P114" | IOSTANDARD = LVTTL;
NET "ADV_SCLK" LOC = "P115" | IOSTANDARD = LVTTL;
NET "ADV_LRCLK" LOC = "P116" | IOSTANDARD = LVTTL;
NET "ADV_MCLK" LOC = "P117" | IOSTANDARD = LVTTL;

NET "ADV_SCL" LOC = "P118" | IOSTANDARD = LVTTL;
NET "ADV_SDA" LOC = "P119" | IOSTANDARD = LVTTL;
NET "ADV_INT1" LOC = "P120" | IOSTANDARD = LVTTL;
NET "ADV_RST" LOC = "P121" | IOSTANDARD = LVTTL;

NET "ADV_HS" LOC = "P99" | IOSTANDARD = LVTTL;
NET "ADV_VS" LOC = "P100" | IOSTANDARD = LVTTL;
NET "ADV_DE" LOC = "P98" | IOSTANDARD = LVTTL;
NET "ADV_LLC" LOC = "P95" | IOSTANDARD = LVTTL;

NET "ADV_P<0>" LOC = "P97" | IOSTANDARD = LVTTL;
NET "ADV_P<1>" LOC = "P93" | IOSTANDARD = LVTTL;
NET "ADV_P<2>" LOC = "P92" | IOSTANDARD = LVTTL;
NET "ADV_P<3>" LOC = "P88" | IOSTANDARD = LVTTL;
NET "ADV_P<4>" LOC = "P87" | IOSTANDARD = LVTTL;
NET "ADV_P<5>" LOC = "P85" | IOSTANDARD = LVTTL;
NET "ADV_P<6>" LOC = "P84" | IOSTANDARD = LVTTL;
NET "ADV_P<7>" LOC = "P83" | IOSTANDARD = LVTTL;
NET "ADV_P<8>" LOC = "P82" | IOSTANDARD = LVTTL;
NET "ADV_P<9>" LOC = "P81" | IOSTANDARD = LVTTL;
NET "ADV_P<10>" LOC = "P80" | IOSTANDARD = LVTTL;
NET "ADV_P<11>" LOC = "P79" | IOSTANDARD = LVTTL;
NET "ADV_P<12>" LOC = "P78" | IOSTANDARD = LVTTL;
NET "ADV_P<13>" LOC = "P75" | IOSTANDARD = LVTTL;
NET "ADV_P<14>" LOC = "P74" | IOSTANDARD = LVTTL;
NET "ADV_P<15>" LOC = "P67" | IOSTANDARD = LVTTL;
NET "ADV_P<16>" LOC = "P66" | IOSTANDARD = LVTTL;
NET "ADV_P<17>" LOC = "P62" | IOSTANDARD = LVTTL;
NET "ADV_P<18>" LOC = "P61" | IOSTANDARD = LVTTL;
NET "ADV_P<19>" LOC = "P59" | IOSTANDARD = LVTTL;
NET "ADV_P<20>" LOC = "P58" | IOSTANDARD = LVTTL;
NET "ADV_P<21>" LOC = "P57" | IOSTANDARD = LVTTL;
NET "ADV_P<22>" LOC = "P56" | IOSTANDARD = LVTTL;
NET "ADV_P<23>" LOC = "P55" | IOSTANDARD = LVTTL;

NET "OUTPUT<0>" LOC = "P123" | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = FAST;
NET "OUTPUT<1>" LOC = "P124" | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = FAST;
NET "OUTPUT<2>" LOC = "P126" | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = FAST;
NET "OUTPUT<3>" LOC = "P127" | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = FAST;
NET "OUTPUT<4>" LOC = "P131" | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = FAST;
NET "OUTPUT<5>" LOC = "P132" | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = FAST;
NET "OUTPUT<6>" LOC = "P133" | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = FAST;
NET "OUTPUT<7>" LOC = "P134" | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = FAST;

#NET "ADV_LLC" CLOCK_DEDICATED_ROUTE = FALSE;

NET "ADV_LLC" TNM_NET = "ADV_LLC";
TIMESPEC "TS_ADV_LLC" = PERIOD "ADV_LLC" 5 ns HIGH 50%;
NET "ambilight/hscale4/COUNT(0)" TNM_NET = "MC_GRP_FFS";
TIMESPEC "TS_MC_GRP_FFS" = FROM "MC_GRP_FFS" TO "MC_GRP_FFS" TS_ADV_LLC*2;
#NET "ambilight/hscale4/COUNT(0)" TNM_NET = RAMS "MC_GRP_RAMS";
#TIMESPEC "TS_MC_GRP_RAMS" = FROM "MC_GRP_RAMS" TO "MC_GRP_RAMS" TS_ADV_LLC*2;

## RS232
NET "rx"  LOC = "P101" | IOSTANDARD = LVTTL | DRIVE=8 | SLEW=FAST;
NET "tx"  LOC = "P105" | IOSTANDARD = LVTTL | DRIVE=8 | SLEW=FAST;
